tzlocal==2.1
--extra-index-url https://download.pytorch.org/whl/cpu
torch==1.11.0
huggingface_hub==0.7.0
sentence_transformers==2.2.0
transformers==4.19.2
tokenizers==0.12.1
numpy==1.22.3
requests==2.27.1
elasticsearch[async]==8.4.0
fastapi==0.75.0
uvicorn[standard]==0.17.6
pydantic==1.9.0
pandas==1.4.3
pyarrow==8.0.0
pygeos==0.13
